.container-card{
   margin: 40px auto;
    max-width: 430px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    border: 1px solid #8dbbec;
    padding: 20px;
    position: relative;
  }
  .transaction-itams{
   border-radius: 7px;
   padding: 20px;
    background: #ffffff;
    border: 1px solid #8dbbec;
    font-size: 1.2rem;
    font-weight: 500;
    width: 200px;
    letter-spacing: 2px;
    margin-top: 1.9rem;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  }
  .transaction-card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .transaction-amount{
    font-weight: 800;
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 6px;
  }
  .transaction-text{
    display: block;
   text-align: center;
   font-family: 'Poppins';
  }
  .card-map{
   
  }
  .card-title{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 35px;
  }
  .card-category{
  padding: 5px;
  font-family: cursive;
  font-weight: 800;
  }
  .card-type{
   padding: 5px;
  font-size: 20px;
  }
  .card-date{
    padding: 0px;
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 18px;
  }
  .img-dele{
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
  }